name: CI

env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
  VCPKG_COMMIT_ID: "120deac3062162151622ca4860575a33844ba10b"

on:
  workflow_dispatch:
    inputs:
      build_aarch64_apple_darwin:
        description: "Build for aarch64-apple-darwin"
        required: false
        default: "true"
        type: boolean
      build_x86_64_windows_msvc:
        description: "Build for x86_64-pc-windows-msvc"
        required: false
        default: "true"
        type: boolean
      build_x86_64_linux_gnu:
        description: "Build for x86_64-unknown-linux-gnu"
        required: false
        default: "false"
        type: boolean
  pull_request:
    paths-ignore:
      - "docs/**"
      - "README.md"
  push:
    branches:
      - master
    paths-ignore:
      - ".github/**"
      - "docs/**"
      - "README.md"
      - "res/**"
      - "appimage/**"
      - "flatpak/**"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            os: macos-12
            use-cross: false
            input: build_aarch64_apple_darwin
          - target: x86_64-pc-windows-msvc
            os: windows-2022
            use-cross: false
            input: build_x86_64_windows_msvc
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
            use-cross: false
            input: build_x86_64_linux_gnu
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Install prerequisites (Linux only)
        if: runner.os == 'Linux'
        shell: bash
        run: |
          sudo apt-get -y update
          sudo apt-get install -y clang cmake curl gcc git g++ libpam0g-dev libasound2-dev libunwind-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgtk-3-dev libpulse-dev libva-dev libvdpau-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxdo-dev libxfixes-dev nasm wget

      - name: Setup vcpkg with Github Actions binary cache
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: /opt/artifacts/vcpkg
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}

      - name: Install vcpkg dependencies
        run: $VCPKG_ROOT/vcpkg install --x-install-root="${VCPKG_ROOT}/installed"
        shell: bash

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
          components: ''

      - name: Show version information
        shell: bash
        run: |
          gcc --version || true
          rustup -V
          rustup toolchain list
          rustup default
          cargo -V
          rustc -V

      - uses: Swatinem/rust-cache@v2

      - name: Build
        if: ${{ inputs[matrix.input] == 'true' || inputs[matrix.input] == true }}
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ matrix.use-cross }}
          command: build
          args: --locked --target=${{ matrix.target }}

      - name: Clean
        if: ${{ inputs[matrix.input] == 'true' || inputs[matrix.input] == true }}
        shell: bash
        run: cargo clean

      - name: Set testing options
        id: test-options
        shell: bash
        run: |
          unset CARGO_TEST_OPTIONS
          CARGO_TEST_OPTIONS="--workspace --no-fail-fast"
          echo "CARGO_TEST_OPTIONS=${CARGO_TEST_OPTIONS}" >> $GITHUB_ENV
          echo "CARGO_TEST_OPTIONS=${CARGO_TEST_OPTIONS}" >> $GITHUB_OUTPUT

      - name: Run tests
        if: ${{ inputs[matrix.input] == 'true' || inputs[matrix.input] == true }}
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ matrix.use-cross }}
          command: test
          args: --locked --target=${{ matrix.target }} ${{ steps.test-options.outputs.CARGO_TEST_OPTIONS }}
